<%- include('partials/header') %>

<% if (locals.post) { %>
  <div class="container">
  <h1 class="my-5"><%= post.title %></h1>

  <form action="/resubmit" method="POST">
    <div class="form-group">
      <label for="content">New Body:</label>
      <input type="hidden" name="title" value="<%= post.title %>">
      <textarea class="form-control" id="content" name="content" rows="10" cols="30"><%= post.content %></textarea>
    </div>
    <button class="btn btn-primary btn-lg px-4 gap-3 my-5" type="submit">Update Post</button>
  </form>
  </div>
<% } else { %>
  <p>Post not found.</p>
<% } %>

<%- include('partials/footer') %>