<%- include('partials/header') %>

<h1>Home</h1>
<% if (locals.posts && posts.length) { %>
  <ul>
    <% posts.forEach(function(post) { %>
      <li>
        <h2><a href="<%= post.url %>"><%= post.title %></a></h2>
        <p><%= post.content.substring(0, 100) %>...</p>
      </li>
    <% }); %>
  </ul>
<% } else { %>
  <p>No posts available.</p>
<% } %>

<%- include('partials/footer') %>